.promo
    height: 700px
    padding-top: 39px
    background: url(../img/bg/promo_bg.jpg) center center / cover no-repeat
    .hamburger
        display: none
        flex-direction: column
        justify-content: space-between
        width: 36px
        height: 16px
        div
            width: 100%
            height: 2px
            background-color: $main-color
    &__head
        height: 65px
        display: flex
        justify-content: space-between
        align-items: center
        .nav
            width: 540px
            display: flex
            justify-content: space-between
            a
                text-decoration: none
                color: #ffffff
                font-size: 13px
                font-weight: 700
                line-height: 26px
                text-align: right
                text-transform: uppercase
    &__title
        color: #ffffff
        font-size: 42px
        font-weight: 400
        line-height: 48px
        text-align: left
        margin-top: 106px
    &__subtitle
        color: #ffffff
        font-size: 24px
        font-weight: 300
        line-height: 30px
        text-align: left
        margin-top: 27px
        span
            font-weight: 400
    &__btn
        width: 241px
        height: 60px
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.07)
        background-color: $main-color
        cursor: pointer
        color: #ffffff
        font-size: 16px
        font-weight: 700
        line-height: 30px
        border: none
        border-radius: 5px
        margin-top: 39px
        cursor: pointer
    &__wrapper
        position: relative
        margin-top: 27px
        .slick-prev, .slick-next
            display: none
        .slick-list
            overflow: hidden
            .slick-track
                display: flex
        .slider
            display: flex
            justify-content: space-between
        img
            object-fit: cover
            width: 100%
    
    &__slider
        position: relative
        .slick-dots
            position: absolute
            bottom: 68px
            left: 50%
            transform: translateX(-50%)
            li
                list-style-type: none
            button
                font-size: 0
                width: 11px
                height: 11px
                border: 1px solid #fff
                border-radius: 50%
                margin: 0 2px
                background: transparent
                cursor: pointer
            .slick-active
                button
                    background-color: #fff
        .slick-prev, .slick-next
            position: absolute
            border: none
            background: rgba(0, 0, 0, 0)
            cursor: pointer
            bottom: 64px
            z-index: 1000
        .slick-prev
            left: 45.5%
        .slick-next
            right: 45.5%
    
    
            